@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

/* 
Black => #000000
Oxford Blue => #14213D
Orange Web => #FCA311
Platinum => #E5E5E5
White => #FFFFFF
*/

$orange-web-text-color: #fca311;
$oxford-blue-text-color: #14213d;

.orange-text {
  color: $orange-web-text-color;
}

.iconColor {
  background-color: $orange-web-text-color;
}

.banner-title {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.divider-border {
  border-top: 3px solid rgba(0, 0, 0, 0.12);
}

.slide-item-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.slide-item-card-title2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.slide-item-card-price {
  font-size: 1rem;
}

// View: Wishlist
.wishlist-title {
  font-size: 18px;
}
.wishlist-price {
  font-size: 20px;
}

// View: Cart
.cart-summary-box {
  background-color: #1d1d1d;
  border-radius: 20px;

  .summary-total {
    font-size: 25px;

    .sign {
      font-size: 16px;
    }
  }
}

// menu Component
.subCategoryStyle {
  text-decoration: none;
  color: black !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.subCategoryStyleHover {
  text-shadow: 2px 3px 1px #fca311;
}
