@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$orange-web-text-color: #fca311;
$oxford-blue-text-color: #14213d;

.orange-text {
  color: $orange-web-text-color;
}

.iconColor {
  background-color: $orange-web-text-color;
}

.banner-title {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.divider-border {
  border-top: 3px solid rgba(0, 0, 0, 0.12);
}

.slide-item-card-title {
  min-height: 64px;
}

.slide-item-card-price {
  font-size: 1rem;
}
